body {
	font-family:sans serif, arial;
	font-size:large;
	background-image: url("backgroundwebsite7.jpg");
	color:white; 
	text-align:center; 
	padding:0; margin:0;
}
a {
	color:#d0bb00;
	text-decoration:none;
}
a:hover {
	color:#ffe91e;
	text-decoration:underline;
}


/*------------------------------------------------------------------------------
  mobile, alte laptops
------------------------------------------------------------------------------*/
.centertable {
    border-radius:15px;
	border:1px solid darkgrey; 
	width:100%; 
	margin:0; 
	background:#242222;
	border-collapse:separate;
}
.strich {
	display:none;
}

/*------------------------------------------------------------------------------
  PC mit sehr breitem Schirm
------------------------------------------------------------------------------*/
@media only screen and (min-width: 1000px) {
	.centertable {
	    border-radius:15px;
		border:1px solid darkgrey;
		width:1000px; 
		margin:auto; 
		background:#242222;
		border-collapse:separate;
	}
	.strich {
		display:inline;
	}
}
